# Godot
client/.godot/
client/.editorconfig
client/export_presets.cfg

# Rust
server/.env
server/target/
server/dockerfile
common/common_rust/target/

# C#
**/bin/
**/obj/

# Linux
*~

# Godot backup pri podizanju SDK-a
*.csproj.old
